.box {
  width: 450px;
  height: 450px;
  border: 2px solid var(--black);
  border-radius: 8px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.profileImg {
  width: 150px;
  height: 150px;
  background-color: var(--dark-gray);
  border-radius: 50%;
}

.name {
  font-size: 32px;
  font-weight: 700;
}

.tag,
.location {
  color: var(--steel-gray);
}

.list {
  display: flex;
  width: 100%;
  background-color: var(--gray);
}

.item {
  width: 300px;
  height: 100px;
  border: 2px solid var(--black);
  border-bottom: 0;
  border-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
